<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="xamarinios10" />
  <package id="OptimizedPriorityQueue" version="4.2.0" targetFramework="xamarinios10" />
  <package id="sameerIOTApps.Plugin.SecureStorage" version="2.5.0" targetFramework="xamarinios10" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="xamarinios10" />
</packages>